@use "../setup/functions";
@use "../setup/variables";

.app-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 3.5rem;

    padding: functions.rem(10px) 1rem;
    background-color: variables.$clr4;

    p {
        margin: 0;
    }
    
    span {
        font-size: .8em;
        
        &.local-services {
            color: variables.$clr1;
        }
        
        &.remote-services {
            color: variables.$clr5;
        }
    }
}