@use "../setup/functions";
@use "../setup/variables";
@use "../setup/mixins";




.btn-category-filter{
    position: relative;
    .bottom-buttons{
        top: functions.rem(400px);
        width: functions.rem(500px);
        left:-1px;

    }
    .filter-categories-modal{
        position: absolute;
        @include mixins.filter-modal{
            left:-1px;
            top: functions.rem(51px);
            height: functions.rem(350px);  
            width: functions.rem(500px);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow effect on the container */
            border-radius: 15px 15px  0 0;

        }

        h3{
            padding: functions.rem(24px) functions.rem(24px);
            align-self: start;
            margin:  0.5rem 0;
        }
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: start;
            row-gap: 1rem;
            padding-left:functions.rem(24px) ;
            li{
                display: flex;
                gap: 1rem;
                align-items: center;
                p{
                    margin: 0;
                    align-self: center;
                    font-size: functions.rem(14px);
                    font-weight: bold;
                }
            }
            
        }


        
        svg{

            width: 30px;
            height: 30px;
            transform: scale(1); 
            transform-origin: center;
            stroke-width: 1px;


        }
        .unchecked{

            color: variables.$lightGray;
        }
        .checked{
            fill: black;
            color: black;
            stroke-width: 1px;
            stroke:black;

        }
    }
}
