@use "../setup/functions";
@use "../setup/variables";
@use "../setup/mixins";

.menu-mobile {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background: white;
    transition: right 0.3s ease-in-out;
    z-index: 120;
    &.active { 
        right: 0;
    }
}