@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables";


.order-preview{
    span{
        text-align: center;
    }

    p{
        margin: 0;
        & span .cards{
            display: none;
        }
    }
    .gig-title{
        max-width: 90%;
   
    }
    .status-col{
        display: flex;
        align-items: center;
        position: relative;
        svg{
            height: 20px;
            width:  20px;
            fill: variables.$gray;

        }
    }
    .total-price{
        justify-self: center;
        font-weight: 600;
    }

}



.gig-status{
    cursor: pointer;
    span{
        border: 1px solid variables.$lightGray;
        border-radius: 4px;
        font-size:functions.rem(12px); 
        font-weight: 400;
        height: 30px;
        min-width: 70px;
        display: inline-block;
        align-content: center;
        &.pending{
            background-color: lightblue;
        }
        &.approved{
            background-color: rgb(93, 128, 255);
            color: white;
        }
        &.in-progress{
            background-color: rgb(255, 231, 110);
        }
        &.completed{
            background-color: variables.$green;
            color: white;
        }
        &.rejected{
            background-color: rgb(227, 82, 82);
            color: white;
        }
    }
}
