@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables";

.status-modal{
}
.modal-div {

    position: absolute;
    top: 40px; 
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 110;
    p{
        margin-top: 5px;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 8px;
        font-weight: 700;
        border-bottom: 2px solid variables.$lightGray;

    }
    div{
        display: flex;
        align-items: center;

        button{
            display: grid;
            color: variables.$black;;
            grid-template-columns: 1fr auto;
            height: functions.rem(24px);
            min-width: functions.rem(120px);
            background-color: variables.$white;
            font-size: functions.rem(12px);
            font-weight: 700;
            line-height: 100%;
            justify-content: space-between;
            align-items: center;
            border-radius: 4px;
            border: 1px solid variables.$black ;
            &:hover{
                background-color: variables.$gray ;
            }

        }
        .pending{
            background-color: lightblue;
        }
        .approved{
            background-color: rgb(93, 128, 255);
            color: white;
        }
        .in-progress{
            background-color: rgb(255, 231, 110);
        }
        .completed{
            background-color: variables.$green;
            color: white;

        }
        .rejected{
            background-color: rgb(227, 82, 82);
            color: white;

        }

    }
}

.x-corner {
    position: absolute;
    top: 5px;
    right: 0;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.modal-div .x-corner svg {
    width: 100%;
    height: 100%;
}

.menu-btn{
    color: variables.$white;
    height: functions.rem(24px);
    background-color: variables.$black;
    font-size: functions.rem(12px);
    line-height: 100%;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid variables.$black ;
    &:hover{
        background-color: variables.$gray ;
    }
}
