@use "../setup/variables";

.user-msg {
    position: fixed;
    right: .2em;
    display: flex;
    align-items: center;

    padding: .2em;
    padding-inline-end: 20px;
    background-color: grey;

    color:white;
    font-size: .9em;

    opacity: 0;
    translate: 150% 0;
    transition: 800ms;
    top:100px;
    z-index: 100;

}

.user-msg.visible {
    opacity: 1;
    translate: 0;

}

.user-msg button {
    background-color: variables.$gray1;
    padding: 1px 6px;
    border:0;
    border-radius: 50%;
    color: variables.$gray4;
}

.user-msg.success {

    background-color: rgb(41, 189, 73);
}
.user-msg.error {

    background-color: rgb(216, 59, 59);
}

.user-msg.order {
    background-color: black;
    color: white;
}
