@use "../setup/functions";
@use "../setup/mixins";
@use "../setup/variables";

.seller-index{
    height: 100%;
    h3{
        text-align: start;
    }
}


.seller-profile{
    grid-column: 1;
    min-width: 200px;
    max-width: 300px;
    border: 1px solid variables.$lightGray;
    border-radius: 8px;
    box-shadow: 0 0 .880517px rgba(0,0,0,.029),0 0 2.29197px rgba(0,0,0,.03),0 0 5.52px rgba(0,0,0,.054),0 0 11px rgba(0,0,0,.09);  
    height: auto;
    max-height: 500px; 
    overflow: hidden; 

    
}

.top-details{
    margin-top: functions.rem(32px);
    margin:functions.rem(32px) 1rem 1rem 1rem ;
    display: grid;
    justify-items: center;
    grid-template-rows: auto auto;
    gap: functions.rem(6px);
    border-bottom: 1px solid variables.$lightGray;
    .img-container{
        position: relative;
    }
    img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    .premium{
        svg{
            position: absolute;
            fill: goldenrod;
            height: 30px;
            width: 30px;
            bottom:0;
            right: 0;
        }
        h5{
            position: absolute;
            font-size: 8px;
            font-weight: 700;
            bottom:0;
            right: -40px;
            max-width: 40px;
            margin: 0;
        }
    }
    .rate{
        display: flex;
        gap:functions.rem(2px);
        align-items: center;
        p{
            padding-top: functions.rem(4px);
            margin: 0;
        }
    }
}

.buttom-details{
    display: flex;
    flex-direction: column;
    li{
        display: grid;
        grid-template-columns: 20px 1fr auto;
    }
    h6{
        font-size:functions.rem(14px); 
        margin: 0;
        margin-left: 4px;
        &.data-bold{
            font-weight: 700;
        }
    }
    .from-line{
        margin:functions.rem(16px) functions.rem(32px) functions.rem(2px) functions.rem(32px);
        display: grid;
        grid-template-columns: auto 1fr auto;
        svg{
            padding-top: 4px;
            height: functions.rem(16px); 
            width: functions.rem(16px); 
        }
    
    } 
    .member-since{
        margin:functions.rem(16px) functions.rem(32px) functions.rem(2px) functions.rem(32px);
        display: grid;
        grid-template-columns: auto 1fr auto;
        svg{
            padding-top: 4px;
            height: functions.rem(16px); 
            width: functions.rem(16px); 
        }
    
    }
    .name-line{
        margin:functions.rem(16px) functions.rem(32px) functions.rem(2px) functions.rem(32px);
        display: grid;
        grid-template-columns: auto 1fr auto;
        svg{
            height: functions.rem(16px); 
            width: functions.rem(16px); 
            align-self: center;
        }

    }
    .response-line{
        margin:functions.rem(16px) functions.rem(32px) functions.rem(2px) functions.rem(32px);
        display: grid;
        grid-template-columns: auto 1fr auto;
        svg{
            padding-top: 4px;
            height: functions.rem(16px); 
            width: functions.rem(16px); 
        }

    }
}

.manage-orders{
    margin-top: 1rem;
}




.stats-list{
    display: grid;
    margin-top: 0; 
    
    > * {
        box-shadow: 0 0 .880517px rgba(0,0,0,.029),0 0 2.29197px rgba(0,0,0,.03),0 0 5.52px rgba(0,0,0,.054),0 0 11px rgba(0,0,0,.09);  
        border-radius: functions.rem(8px);
        // margin: functions.rem(8px);
    }
}



    
.totals{
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;

    h4{
        margin: 0;
        font-size:functions.rem(14px); 
        margin-bottom: 8px;

    }
    h5{
        justify-self: center;
        font-size:functions.rem(32px); 
        font-weight: 700;
        margin: 0;
    }
    svg{
        height: 60px;
        width: 60px;
        path{
            fill: black;
        } 
    }

}


.total-amount{
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    h4{
        margin: 0;
        font-size:functions.rem(14px); 
        margin-bottom: 8px;

    }
    h5{
        justify-self: center;
        font-size:functions.rem(32px); 
        font-weight: 700;
        margin: 0;

    }
    svg{
        height: 60px;
        width: 60px;

    }
}

.total-client{
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    h4{
        margin: 0;
        font-size:functions.rem(14px); 
        margin-bottom: 8px;
    }
    h5{
        justify-self: center;
        font-size:functions.rem(32px); 
        font-weight: 700;
        margin: 0;

    }
    svg{
        height: 60px;
        width: 60px;

    }
}

@include mixins.for-mobile-layout {
    .seller-index {
        margin-top: functions.rem(120px);
        display: grid;
        grid-template-columns: auto ;
        gap:1rem;
        grid-template-rows: auto;
    }
    .seller-side{
        display: none;
    }
    .stats-and-orders{
        grid-column: 1;
        display: grid;
        grid-template-rows: auto 1fr;
        .stats{
            grid-row: 1;
        }
        .manage-orders{
            grid-row: 2;
            overflow-x: auto; 
        }
    }
    .for-card{
        display: block;
        font-size: 12px;
        font-weight: 700;
        color: black;
    }
}



@include mixins.for-narrow-layout {
    .seller-index {
        margin-top: functions.rem(120px);
    }
    .seller-side{
        display: none;
    }
    
    .stats-and-orders{
        grid-column: 2;
        display: grid;
        grid-template-rows: auto 1fr;
        .stats{
            grid-row: 1;
        }
        .stats-list{
            grid-template-columns: repeat(3,1fr);
            grid-auto-flow: column;
            gap:functions.rem(24px); 
        }
        .manage-orders{
            grid-row: 2;
            overflow-x: auto; 
            // max-height: 500px;
        }
    }
   
    .client-element{
        display: flex;
        flex-direction: column;
    }

    .for-card{
        display: none;
    }
}


@include mixins.for-normal-layout{
    
    .seller-profile{
        display: block;
    }
    .seller-index {
        margin-top: functions.rem(120px);
        display: grid;
        grid-template-columns: auto 1fr;
        gap:2rem;
        grid-template-rows: auto;
        
    }
    .stats-and-orders{
        grid-column: 2;
        display: grid;
        grid-template-rows: auto 1fr;
        .stats{
            grid-row: 1;
        }
        .stats-list{
            grid-template-columns: repeat(3,1fr);
            grid-auto-flow: column;
            gap:functions.rem(24px); 
        }
        .manage-orders{
            grid-row: 2;
            overflow-x: auto; 
            // max-height: 500px;
        }
    }
    .for-card{
        display: none;
    }
}

@include mixins.for-wide-layout{
    .seller-profile{
        display: block;
    }
    .seller-index {
        margin-top: functions.rem(120px);
        display: grid;
        grid-template-columns: auto 1fr;
        gap:2rem;
        grid-template-rows: auto;
    }
    .stats-list{
        grid-template-columns: repeat(3,1fr);
        grid-auto-flow: column;
        gap:functions.rem(24px); 
    }
    .stats-and-orders{
        grid-column: 2;
        display: grid;
        grid-template-rows: auto 1fr;
        .stats{
            grid-row: 1;
        }
        .manage-orders{
            grid-row: 2;
            overflow-x: auto; 
            // max-height: 500px;
        }
    }
    .for-card{
        display: none;
    }
}



// .pending-stats{
//     color: rgb(71, 147, 172);
// }
// .approved-stats{
//     color: rgb(53, 94, 239);
// }
// .in-progress-stats{
//     color: rgb(210, 180, 32);
// }
// .rejected-stats{
//     color:  rgb(227, 82, 82);
// }
// .completed-stats{
//     color: variables.$green;
// }